*::before,
*::after {
    display: none !important;
}

body {
    background-color: var(--app-bg) !important;
}


._160d8e55254637e5-app {
    padding: 0 var(--space-xs) var(--space-xs) 0;
}



[aria-label="Set DM Wallpaper"],
[aria-label="Start Video Call"] {
    display: none !important;
}



.f75fb00fb7356cbe-chat {
    border-radius: var(--radius-sm);
    border: 1px solid var(--app-border-frame) !important;
}
.visual-refresh .f75fb00fb7356cbe-chat[data-has-border=true] {
    border-top: none;
}

.f75fb00fb7356cbe-chatContent form {
    padding: 0px !important;
}

.f75fb00fb7356cbe-channelTextArea {
    margin: 0 !important;
}


.b8880176888cc928-typing {
    top: -25px;
}

._36d072eab2b2e737-scroller  { 
    padding-bottom: 1rem;
}

:where(.visual-refresh) ._740174f3d6a2c8fe-channelTextArea {
    border-radius: 0 !important;
}

.visual-refresh .f75fb00fb7356cbe-channelTextArea,
:where(.visual-refresh) ._740174f3d6a2c8fe-themedBackground {
    background: none !important;
}

:where(.visual-refresh) ._740174f3d6a2c8fe-channelTextArea {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

._740174f3d6a2c8fe-scrollableContainer {
    min-height: 56px;
}


._5e434347c823b592-base {
    grid-template-areas: "titleBar titleBar titleBar" "guildsList notice notice" "guildsList channelsList page" !important;
}

[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"],
.aa63abf63dbd9cce-separator  {
    display: none !important;
}


._960e4207cea8323e-bg {
    background: var(--app-bg-url) center center / cover no-repeat !important;
    filter: brightness(var(--app-bg-brightness));
}

.ef3116c2da186559-wrapper,
.c8ffbb79449f399c-container div {
    background: transparent !important;
}

.visual-refresh ._5e434347c823b592-sidebarListRounded {
    backdrop-filter: none;
}

.e6b7699ce8339e1c-privateChannels,
._2637a2609f343032-container,
[aria-label="User area"], ._5dec784a68542d60-panel,
.f75fb00fb7356cbe-title, .f75fb00fb7356cbe-chat,
.f37cb1984c371ee5-container, .c8ffbb79449f399c-container,
.e6b7699ce8339e1c-searchBar, ._99e7cad8d4c55236-scroller, 
.f75fb00fb7356cbe-chatContent  {
    background: var(--panel-rgb) !important; 
    backdrop-filter: blur(80px) saturate(150%) !important;
    box-shadow: none !important;
}

._99e7cad8d4c55236-scroller,
._37e49614b9f110a9-container {
    background: inherit !important;
}



[aria-label="Servers sidebar"] {
    margin: 0 !important;
}
[aria-label="Servers sidebar"]::after {
    content: "";
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.theme-dark [aria-label="Servers sidebar"]::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, var(--background-base-lowest) 100%);
}

.ef3116c2da186559-itemsContainer {
    background: none !important;
}


.visual-refresh ._5e434347c823b592-sidebarListRounded {
    border-top-left-radius: 3 !important;
}

._5e434347c823b592-sidebarList nav {
    padding: 0 !important;
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
    border: 1px solid var(--app-border-frame) !important;
    border-radius: var(--radius-sm);
}

._2637a2609f343032-container {
    margin-left: 0 !important;
}

._2637a2609f343032-container ._629e4c86564a4ee7-scroller,
._99e7cad8d4c55236-scroller {
    margin: 0 !important;
}
[aria-label="User area"] {
    left: calc(var(--custom-guild-list-width)) !important;
    width: calc(100% - var(--space-xs) - var(--custom-guild-list-width)) !important;
    border: 1px solid var(--app-border-frame) !important;
    background: var(--bg-overlay-4, var(--background-base-lowest)) !important;
    bottom: 0 !important;
}

._5e434347c823b592-sidebar {
    border-radius: 0 !important;
}

._5e434347c823b592-sidebarList {
    margin-right: var(--space-xs);
    border-radius: var(--radius-sm);
    overflow: hidden;
    border: none !important;
}

._5e434347c823b592-sidebarListRounded {
    border-top-left-radius: 0 !important;
}

.visual-refresh ._5dec784a68542d60-panel,  
._5e434347c823b592-panels { 
    background: none !important;
}

[aria-label="Noise Suppression powered by Krisp"] {
    display: none !important;
}

._7aaec78b97ff00f7-bottom { 
    bottom: 0 !important;
}

._5e434347c823b592-page {
    border-radius: var(--radius-sm);
    border: 1px solid var(--app-border-frame) !important;
}

.f8fa068db52f043f-actionButton,
._5ec2fb8b5de26b21-searchBar,
._7e549558f336cddb-itemCard {
    background: none !important;
}

.visual-refresh ._133bf5eea8e33a34-container,
._7d20cf18f8a2784c-container, 
._133bf5eea8e33a34-container > *, 
._133bf5eea8e33a34-nowPlayingColumn { 
    background: transparent !important;
}

.visual-refresh ._5e434347c823b592-sidebarListRounded {
    backdrop-filter: none;
}

.visual-refresh ._133bf5eea8e33a34-peopleColumn,
.visual-refresh ._133bf5eea8e33a34-nowPlayingColumn,
[role="navigation"] {
    background: var(--panel-rgb) !important;
    backdrop-filter: blur(80px) saturate(150%) !important;
    box-shadow: none !important;
}

[aria-label="Friends"] > [role="navigation"] {
    border: 1px solid var(--app-border-frame) !important;
    border-radius: var(--radius-sm);
    margin-bottom: var(--space-xs);
}

._5e434347c823b592-page,
._7d20cf18f8a2784c-scroller,
[aria-label="Friends"] {
    border: none !important;
}


._133bf5eea8e33a34-peopleColumn {
    border: 1px var(--app-border-frame) solid !important;
    border-radius: var(--radius-sm);
}

._133bf5eea8e33a34-nowPlayingColumn {
    margin-left: var(--space-xs);
    border: 1px var(--app-border-frame) solid !important;
    border-radius: var(--radius-sm);
    top: -50px;
}


.vc-addon-card:has(a[href='https://github.com/akrossu/SimpleAndClean']) .vc-addon-title-container::after {
    content: "Version 2.0 Released!" !important;
    display: block !important;
    position: absolute !important;
    right: 1rem;
}



.vc-addon-card:has(a[href='https://github.com/akrossu/SimpleAndClean']) {
    position: relative;
}

.vc-addon-card:has(a[href='https://github.com/akrossu/SimpleAndClean'])::before {
    content: "" !important;
    position: absolute !important;
    display: block !important;
    inset: 0;
    z-index: 0;
    opacity: 0.1;
    pointer-events: none;
    background: var(--app-bg-url) center/cover;
}


.vc-settings-theme-grid {
    display: flex;
    flex-direction: column;
}

._960e4207cea8323e-layer {
    background: none !important;
}
._23e6b439306f125a-standardSidebarView {
    margin-left: var(--space-xs);
}

._23e6b439306f125a-sidebarRegionScroller,
._23e6b439306f125a-sidebarRegion,
._23e6b439306f125a-contentRegion,
._23e6b439306f125a-contentRegionScroller,
._23e6b439306f125a-standardSidebarView {
    background: none !important;
}

._23e6b439306f125a-sidebarRegion {
    border-right: 1px solid var(--app-border-frame);
} 

._23e6b439306f125a-standardSidebarView {
    border: 1px solid var(--app-border-frame) !important;
    border-radius: var(--radius-sm);
    background: var(--panel-rgb) !important;
    backdrop-filter: blur(80px) saturate(150%) !important;
    box-shadow: none !important;
}


.cc5dd25190031396-svg mask {
    display: none;
}

:where(
    ._918165dab2b1e10b-listItemWrapper,
    .e5445cbd3ad226f2-blobContainer,
    [aria-label="Inbox"] /* inbox sidebar fix? */
) foreignObject {
    border-radius: 100%;
}

/* Folder Icons */
[class*="folderPreview__"] [class*="icon_"] {
    border-radius: 100% !important;
}

:where(
    ._918165dab2b1e10b-selected,
    .e5445cbd3ad226f2-selected,
    ._918165dab2b1e10b-listItemWrapper:hover,
    .e5445cbd3ad226f2-blobContainer:hover,
    [aria-label="Inbox"]:hover
) foreignObject {
    border-radius: var(--radius-md) !important;
    transition: 0.1s ease-out;
}

 /* inbox sidebar fix.... */
:where([aria-label="Inbox"]) foreignObject:has(._6e9f8dce4cc18de3-selected) {
    border-radius: var(--radius-md) !important;
}
:root {
    --app-bg-url: url("https://github.com/Luciddilyy/Vencord-Themes/blob/bae8f34310c7052e733c249b69563abc6a0ed7b5/6.png?raw=true");
}

:root { /* APP COLORS */
    --dark-app-wrapper: lab(4.68% 0 0);
    --dark-sidebar: lab(7.74% 0 0);
    --dark-backgoround: lab(10.77% 0 0);

    --light-app-wrapper: lab(95.15% 0.01 -0.01);
}

:root { /* MICA */
    --app-bg-brightness: 40%;
    --panel-rgb: rgba(0, 0, 0, 0.05);
}

.visual-refresh.theme-dark {
    --app-bg: var(--dark-app-wrapper);
}

.visual-refresh.theme-light {
    --app-bg: var(--light-app-wrapper);
}
