/**
 * @name System24
 * Midnight flavour for Discord Modern Styling
 * @author Lucidd._.
*/
body {
    --font: 'figtree';
    --code-font: '';
    font-weight: 400;


    --gap: 6px;
    --divider-thickness: 4px;
    --border-thickness: 1px;


    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --border-hover-transition: 0.2s ease;


    --top-bar-height: 32px;
    --top-bar-button-position: off;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;


    --custom-window-controls: off;
    --window-control-size: 14px;


    --custom-dms-icon: on;
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/5/52/Discord_Partnership_Badge.svg');
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--white);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: off;
    --dms-background-image-url: url('');
    --dms-background-image-size: cover;
    --dms-background-color: linear-gradient(
        70deg,
        var(--white-2),
        var(--white-3),
        var(--white-4)
    );


    --background-image: on;
    --background-image-url: url('https://wallpapers.com/images/hd/black-and-white-scenery-with-the-moon-zm19605amj4kd8lh.jpg');


    --transparency-tweaks: on;
    --remove-bg-layer: off;
    --panel-blur: on;
    --blur-amount: 3px;
    --bg-floating: var(--bg-3);


    --custom-chatbar: aligned;
    --chatbar-height: 47px;
    --chatbar-padding: 8px;


    --small-user-panel: off;


    --hide-member-list-badges: on;
    --hide-member-list-buttons: on;
}


:root {
    --colors: on;


    --text-0: var(--bg-4);
    --text-1: hsl(0, 0%, 98%);
    --text-2: hsl(0, 0%, 90%);
    --text-3: hsl(0, 0%, 80%);
    --text-4: hsl(0, 0%, 65%);
    --text-5: hsl(0, 0%, 45%);


    --bg-1: hsla(220, 10%, 20%, 1);
    --bg-2: hsla(220, 10%, 16%, 1);
    --bg-3: hsla(220, 10%, 13%, 1);
    --bg-4: rgba(23, 25, 28, 0.7);

    --hover: hsla(0, 0%, 90%, 0.1);
    --active: hsla(0, 0%, 90%, 0.15);
    --active-2: hsla(0, 0%, 90%, 0.2);
    --message-hover: hsla(0, 0%, 100%, 0.05);


    --accent-1: var(--white-1);
    --accent-2: var(--white-2);
    --accent-3: var(--white-3);
    --accent-4: var(--white-4);
    --accent-5: var(--white-5);
    --accent-new: var(--accent-2);

    --mention: linear-gradient(
        to right,
        color-mix(in hsl, var(--white-2), transparent 90%) 40%,
        transparent
    );
    --mention-hover: linear-gradient(
        to right,
        color-mix(in hsl, var(--white-2), transparent 95%) 40%,
        transparent
    );

    --reply: linear-gradient(
        to right,
        color-mix(in hsl, var(--text-3), transparent 90%) 40%,
        transparent
    );
    --reply-hover: linear-gradient(
        to right,
        color-mix(in hsl, var(--text-3), transparent 95%) 40%,
        transparent
    );


    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--purple-2);
    --offline: var(--text-4);


    --border-light: hsl(0, 0%, 90%, 0.1);
    --border: hsl(0, 0%, 90%, 0.15);
    --border-hover: var(--active);
    --button-border: hsl(0, 0%, 100%, 0.12);


    --white-1: oklch(97% 0.01 0);
    --white-2: oklch(92% 0.01 0);
    --white-3: oklch(85% 0.01 0);
    --white-4: oklch(78% 0.01 0);
    --white-5: oklch(70% 0.01 0);


    --red-1: oklch(76% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(64% 0.12 0);
    --red-4: oklch(58% 0.12 0);
    --red-5: oklch(52% 0.12 0);

    --green-1: oklch(76% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(64% 0.11 170);
    --green-4: oklch(58% 0.11 170);
    --green-5: oklch(52% 0.11 160);

    --blue-1: oklch(76% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(64% 0.1 215);
    --blue-4: oklch(58% 0.1 215);
    --blue-5: oklch(52% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(74% 0.11 90);
    --yellow-3: oklch(68% 0.11 90);
    --yellow-4: oklch(62% 0.11 90);
    --yellow-5: oklch(56% 0.11 90);

    --purple-1: oklch(76% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(64% 0.11 310);
    --purple-4: oklch(58% 0.11 310);
    --purple-5: oklch(52% 0.11 310);
}