@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    container-name: root;
    --custom-guild-list-padding: 12px;
    --panel-backdrop-filter: none;

    --border-hover: var(--border-subtle);
}

body {
    container-name: body;

    --font: 'figtree';
    --code-font: '';

    --gap: 12px; 
    --divider-thickness: 4px; 
    --border-thickness: 1px; 
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);

    --border-hover-transition: 0.2s ease;
}

._8946359d8adb1488-container > ._8946359d8adb1488-toolbar ,
._8946359d8adb1488-container > ._8946359d8adb1488-contentContainer ,
._5e434347c823b592-guilds , 
._5e434347c823b592-sidebarList ,
._5e434347c823b592-panels ,
.f75fb00fb7356cbe-chat > .f75fb00fb7356cbe-subtitleContainer ,
.f75fb00fb7356cbe-chatContent ,
.c8ffbb79449f399c-container ,
.f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap ,
._133bf5eea8e33a34-container > ._9293f6b2fc12398a-container ,
.f391e3680aff100a-container > ._9293f6b2fc12398a-container ,
._0920e02cc8fc7b7b-homeWrapper > ._9293f6b2fc12398a-container ,
._01ae244280823725-container > ._9293f6b2fc12398a-container ,
.fb64c9a451c49797-container > ._9293f6b2fc12398a-container ,
._133bf5eea8e33a34-peopleColumn ,
._133bf5eea8e33a34-nowPlayingColumn ,
.ca1a02dcad190ff8-mainPageScroller ,
._1a9cebfbd0c9d0f6-headerBar ,
._23746ba3de9452d8-scroller ,
.f391e3680aff100a-container > .f75fb00fb7356cbe-content ,
._6db1d32c47b6ad72-shop ,
.f75fb00fb7356cbe-content > aside > .c0bea05627c5dc35-outer ,
.a98f3b020416ad54-searchResultsWrap ,
.f369dba7416c67f0-container ,
.fb64c9a451c49797-chat ,
.a592e1970a0ce22c-container ,
.cb9592ad77576717-callContainer ,
.cb9592ad77576717-wrapper.cb9592ad77576717-sidebarOpen .cb9592ad77576717-callContainer ,
._722ffae0e1be2672-callContainer ,
.f75fb00fb7356cbe-chat > .c791b281f2fedc32-header ,
.f75fb00fb7356cbe-chat > .d125d22cdfd32cfe-scrollerBase ,
.f75fb00fb7356cbe-chat > ._0b56311ebc6682e2-header  ,
.f75fb00fb7356cbe-chat > ._0b56311ebc6682e2-container  {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-lg);
    border: var(--border-thickness) solid var(--border-subtle);
    backdrop-filter: var(--panel-backdrop-filter);
    box-sizing: border-box;
    transition: border-color var(--border-hover-transition);

    &:hover {
        border-color: var(--border-hover);
    }
}

._5e434347c823b592-panels  {
    bottom: 0;
    left: 0;
    width: 100%;
}

._5e434347c823b592-sidebar  {
    margin: 0 var(--gap) var(--gap) var(--gap);
}

._5e434347c823b592-guilds  {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
    margin-right: var(--gap);
}
._5e434347c823b592-guilds + div:not(._5e434347c823b592-sidebarList)  {
    width: 100% !important;
}
.ef3116c2da186559-scroller  {
    padding-top: var(--custom-guild-list-padding) !important;
    padding-bottom: var(--custom-guild-list-padding);
}
._48112cbe77dc5022-folderGroup {
    width: 100%;
}
._650eb104245d257b-listItem {
    width: 100%;
}

._5e434347c823b592-sidebarList  {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
}
._2637a2609f343032-container  {
    padding-bottom: 0;
}
.clickable_f37cb1,
    ._2637a2609f343032-container ,
    .f37cb1984c371ee5-header  {
    background: none;
}
._629e4c86564a4ee7-scroller  {
    margin-bottom: 0;
}

.f37cb1984c371ee5-bannerImage,
.f37cb1984c371ee5-bannerImg {
    width: 100%;
}
.f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-headerEllipseBackdrop {
    display: none;
}
.f37cb1984c371ee5-headerGlass {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

._5e434347c823b592-sidebar:after  {
    display: none;
}

.ef3116c2da186559-wrapper  {
    mask: none;
}

.f75fb00fb7356cbe-chat  {
    border: none !important;
    background: none;
}
.f75fb00fb7356cbe-chatContent {
    overflow: hidden;
}
._133bf5eea8e33a34-container ,
    ._5e434347c823b592-page {
    padding-bottom: var(--gap);
    padding-right: var(--gap);
    border: none !important;
    background: none;
}
._5e434347c823b592-page > .f75fb00fb7356cbe-chat,
._5e434347c823b592-page > ._133bf5eea8e33a34-container {
    padding: 0;
}

._9293f6b2fc12398a-container  {
    margin-bottom: var(--gap);
}

.f75fb00fb7356cbe-subtitleContainer  {
    margin-bottom: var(--gap);
}
.f75fb00fb7356cbe-title  {
    border: none;
    background: none !important;
    margin-bottom: 0;
}

._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat > .f75fb00fb7356cbe-content  {
    border-left: none;
}
._133bf5eea8e33a34-tabBody  {
    border: none !important;
}

.e0cf275d59896c00-listeningAlong  {
    border-top: none !important;
}

.c8ffbb79449f399c-container  {
    margin-left: var(--gap);
    overflow: hidden;
    height: auto;
    min-width: fit-content;
}
.f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap  {
    margin-left: var(--gap);
    overflow: hidden;
    height: auto;
    min-width: fit-content;
}
.c8ffbb79449f399c-members ,
    .c8ffbb79449f399c-member  {
    background: none;
}

._01ae244280823725-resizeHandle  {
    background: transparent;
}

.e6b7699ce8339e1c-privateChannels ,
    ._99e7cad8d4c55236-scroller  {
    background: none;
}
._99e7cad8d4c55236-scroller  {
    margin-bottom: 0;
}

._133bf5eea8e33a34-tabBody  {
    background: none;
}

._133bf5eea8e33a34-nowPlayingColumn  {
    margin-left: var(--gap);
}
._7d20cf18f8a2784c-container  {
    background: none;
}
._7d20cf18f8a2784c-scroller  {
    border: none;
}

._0920e02cc8fc7b7b-homeWrapper  {
    border: none;
    background: none;
}
.f07d62e29a48ceee-applicationStore  {
    background: none;
}

._6db1d32c47b6ad72-shop  {
    overflow: hidden;
    height: auto;
}
._084152b107f71237-shop  {
    margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
}

._955a392354a35c6e-container  {
    border: none;
}

.f75fb00fb7356cbe-content > aside > .c0bea05627c5dc35-outer  {
    margin-left: var(--gap);
    overflow: hidden;

    background-position: center calc(-1 * var(--border-thickness));
    background-size: 100% calc(100% + 2 * var(--border-thickness));
}

.a98f3b020416ad54-searchResultsWrap  {
    margin-left: var(--gap);
}

._6e2b9359c6f84cfd-notice  {
    margin: 0 var(--gap) var(--gap) 0;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    height: 40px;
}

._01ae244280823725-container  {
    border: none;
    background: none;
}
.a44415a3320e67de-chat::before  {
    display: none;
}
.cb9592ad77576717-channelChatWrapper  {
    background: none;
}

._5e434347c823b592-page > div > ._01ae244280823725-chatLayerWrapper  {
    margin: 0 var(--gap) var(--gap) 0;
    height: calc(100% - var(--gap));
}
._01ae244280823725-container  {
    padding-left: calc((var(--gap) - var(--chat-resize-handle-width)));
}

.fb64c9a451c49797-container  {
    background: none;
}
.fb64c9a451c49797-chat::before  {
    display: none;
}

.a592e1970a0ce22c-container  {
    overflow: hidden;
}
._8a7fc664acf53af6-backdrop  {
    background-color: var(--background-base-lower);
}

.cb9592ad77576717-wrapper  {
    background: none;
    margin-bottom: var(--gap);
}
.cb9592ad77576717-wrapper.cb9592ad77576717-fullScreen {
    margin-top: var(--gap);
    margin-left: var(--gap);
    width: calc(100% - var(--gap));
    height: calc(100% - var(--gap));
}

._23e6b439306f125a-standardSidebarView,
._23e6b439306f125a-contentRegion,
._23e6b439306f125a-sidebarRegionScroller,
._23e6b439306f125a-contentRegionScroller {
    background: none;
}
._23e6b439306f125a-standardSidebarView {
    backdrop-filter: var(--panel-backdrop-filter);
}

.cdf8a9a2bbd98bd3-wrapper ,
.cdf8a9a2bbd98bd3-wrapper > .fc817765600a960a-wrapper {
    background: none;
}
._5e434347c823b592-page > ._8946359d8adb1488-container ,
._5e434347c823b592-page > .f75fb00fb7356cbe-chat  {
    background: none !important;
}

._0f481cbbd7530492-newMessagesBar  {
    top: 12px;
    left: 12px;
    right: 12px;
    border-radius: var(--radius-sm);
    padding: 0 8px;
}

._7aaec78b97ff00f7-bottom ,
    ._629e4c86564a4ee7-unreadBottom  {
    bottom: 0;
}

.ef3116c2da186559-unreadMentionsIndicatorBottom ,
    .ef3116c2da186559-unreadMentionsIndicatorTop {
    width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
    padding: calc(var(--custom-guild-list-padding) / 2);
}

#vc-spotify-player  {
    background: none;
}

.f75fb00fb7356cbe-channelTextArea  {
    border-radius: var(--radius-md);
}
._740174f3d6a2c8fe-themedBackground  {
    background: none;
}
.ec4baf0360ff3578-slateTextArea  {
    margin-left: 2px;
}

._908e20001ad67812-divider {
    border-width: var(--divider-thickness);
    border-radius: var(--divider-thickness);
}
._908e20001ad67812-endCap {
    margin-top: calc(var(--divider-thickness) / -2);
}
._908e20001ad67812-divider ._908e20001ad67812-content {
    margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
}

._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned::before,
._5126c0cd07f243a0-replying::before,
._5126c0cd07f243a0-ephemeral::before {
    width: var(--divider-thickness);
    border-radius: var(--divider-thickness);
    height: calc(100% - 2 * var(--radius-sm));
    top: var(--radius-sm);
    left: calc(var(--divider-thickness) / -2 + 1px);
    left: calc(var(--radius-sm) / 2);
}

._5126c0cd07f243a0-message {
    border-radius: var(--radius-md);
    margin-left: 4px;
}

.e5445cbd3ad226f2-pill._581051df43c5ebb6-wrapper {
    width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
}
._581051df43c5ebb6-item {
    width: 4px;
    border-radius: 4px;
    margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
}

._623de82e76ad7f82-embedFull {
    border: 4px solid var(--border-normal);
    border-top-color: var(--border-subtle) !important;
    border-top-width: 1px;
    border-bottom-color: var(--border-subtle) !important;
    border-bottom-width: 1px;
    border-right-color: var(--border-subtle) !important;
    border-right-width: 1px;
}

._23977d5b7cef7361-reaction ,
    ._23977d5b7cef7361-reactionBtn._23977d5b7cef7361-forceShow  {
    border-width: 2px;
}

._623de82e76ad7f82-embedFull ,
    .hljs ,
    .af017ab847f75d02-imageWrapper ,
    ._9271d23503a01b50-container  {
    border-radius: var(--radius-md);
}

.c0bea05627c5dc35-outer , 
    ._084343c4f11eaaab-contentWrapper   {
    border-radius: var(--radius-lg);
}
.c0bea05627c5dc35-inner  {
    border-radius: calc(var(--radius-lg) - 4px);
}

.c0bea05627c5dc35-outer  {
    border: 1px solid var(--border-subtle);
    background-position: center calc(-1 * var(--border-thickness));
    background-size: 100% calc(100% + 2 * var(--border-thickness));
}
._24502a4069848acb-root {
    background: none;
}

._37e49614b9f110a9-container {
    margin-inline-start: 0;
    -webkit-margin-start: 0;
}
._37e49614b9f110a9-container ._4bbc6dc06e75ad52-container  {
    border-radius: var(--radius-lg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

._160d8e55254637e5-app,
#app-mount,
body {
    background: transparent !important;
}

body {
    --font-primary: var(--font), 'gg sans';
    --font-display: var(--font), 'gg sans';
    --font-code: var(--code-font), 'gg mono';
}

[class*='scroll'] {
    will-change: scroll-position;
}
._23977d5b7cef7361-burstGlow {
    display: none;
}

body {
    --list-item-transition: 0.2s ease; 
    --dms-icon-svg-transition: 0.4s ease; 
}

@property --animations {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--animations: on) {

    ._2ea32c412048f708-wrapper ._2ea32c412048f708-link ,
        ._91a9d7f7e5248a56-container ,
        ._972a0d22c8afa7f0-channel ,
        .aa8da23faa27393c-side .aa8da23faa27393c-item  {
        transition: margin-left var(--list-item-transition);
        will-change: margin-left;
    }
    ._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link,
    .aa8da23faa27393c-side .aa8da23faa27393c-item:hover {
        margin-left: 10px;
    }
    ._91a9d7f7e5248a56-container:hover,
    ._972a0d22c8afa7f0-channel:hover {
        margin-left: 18px;
    }

    ._2ea32c412048f708-unread {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        transition: var(--list-item-transition);
        will-change: margin-left;
    }
    ._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-unread {
        margin-left: 4px;
    }
    ._2ea32c412048f708-typeThread ._2ea32c412048f708-unread {
        margin-left: -8px;
    }
    ._2ea32c412048f708-wrapper._2ea32c412048f708-typeThread:hover ._2ea32c412048f708-unread {
        margin-left: 0px;
    }
}

body {
    --background-image-url: url('');
}

@property --background-image {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--background-image: on) {
    #app-mount ._960e4207cea8323e-bg {
        background: var(--background-image-url);
        background-size: cover;
        background-position: center;
    }
}

body {
    --chatbar-height: 47px; 

    --custom-channel-textarea-text-area-height: var(--chatbar-height);
}

@property --custom-chatbar {
    syntax: 'off | separated';
    inherits: false;
    initial-value: aligned;
}

._0923f156a0410684-attachWrapper {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
._4d3a93bb8f6e0dd9-icon {
    padding-top: 0;
    padding-bottom: 0;
}
._740174f3d6a2c8fe-attachButton {
    display: flex;
    align-items: center;
}

@container body style(--custom-chatbar: separated) {
    .f75fb00fb7356cbe-chatContent {
        background: none;
        border-radius: 0;
        border: none;
        backdrop-filter: none;
    }
    ._36d072eab2b2e737-messagesWrapper {
        background-color: var(--background-base-lower);
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--border-subtle);
        backdrop-filter: var(--panel-backdrop-filter);
        transition: border-color var(--border-hover-transition);
        overflow: hidden;

        &:hover {
            border-color: var(--border-hover);
        }
    }
    ._36d072eab2b2e737-scrollerSpacer {
        height: calc(26px + var(--space-xs));
    }
    ._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
        margin-bottom: calc(26px);
    }
    .f75fb00fb7356cbe-chatContent:has(.b8880176888cc928-typing) ._36d072eab2b2e737-messagesWrapper::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--background-base-lower);
        height: 26px;
        border-radius: 0 0 var(--radius-lg) var(--radius-lg);
        z-index: 2;
    }
    .f75fb00fb7356cbe-form {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin-top: 0;
    }
    .b8880176888cc928-typing {
        position: absolute;
        order: -1;
        top: calc(-26px + var(--border-thickness) * -1);
        left: calc(var(--border-thickness));
        border-radius: 0 0 0 var(--radius-lg);
        padding: 0 0 0 var(--space-sm);
        height: 26px;
    }
    .f75fb00fb7356cbe-channelBottomBarArea {
        margin-top: var(--gap);
    }
    .f75fb00fb7356cbe-channelTextArea {
        margin: 0;
        background-color: var(--background-base-lower);
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--border-subtle);
        backdrop-filter: var(--panel-backdrop-filter);
        transition: border-color var(--border-hover-transition);

        &:hover {
            border-color: var(--border-hover);
        }
    }
    ._740174f3d6a2c8fe-stackedBars {
        background: none !important;
    }
    ._44df51b030bd5ece-wrapper {
        margin: var(--gap) 0 0 0;
        height: var(--chatbar-height);
        padding: 0;
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--border-subtle);
        backdrop-filter: var(--panel-backdrop-filter);
        transition: border-color var(--border-hover-transition);

        &:hover {
            border-color: var(--border-hover);
        }
    }
}

@property --colors {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

:root {

